
@{
    ViewBag.Title = Token.ProductsSold;
    var priv = PageService.GetPageRole(PageEnumVM.ProductsSold);
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--body-->
@if (priv.IsDisplay)
{

    <div ng-app="ngApp" ng-controller="ctrlProductsSold" >
        <!--data-->
        <div class="">
            <!-- BEGIN SAMPLE TABLE PORTLET-->
            <div class="portlet">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fas fa-bell"></i>@Token.Product  
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse" data-original-title="@Token.Collapse" title="@Token.Collapse"> </a>
                        <a class="reload" data-original-title="@Token.ReloadData" title="@Token.ReloadData" ng-click="CallFunctions()"> </a>
                        <a href="javascript:;" class="remove" data-original-title="@Token.Remove" title="@Token.Remove"> </a>
                    </div>
                </div>
                <!--Div Form Table-->
                <div class="portlet-body" style="display: block;">
                    <div class="table-scrollable">
                        <div class="form-group col-lg-12 col-md-12">
                            <dl class="dl-horizontal">
                                <dt>@Token.Product :</dt>
                                <dd>{{ProductsSold[0].ProductName}}</dd>
                                <dt>@Token.Description :</dt>
                                <dd>{{ProductsSold[0].ProductDescription}}</dd>
                                <dt>@Token.CurrentPrice :</dt>
                                <dd>{{ProductsSold[0].CuurentPrice}}</dd>
                                <dt>@Token.Images :</dt>
                                <dd>
                                        <img class="img-circle" width="100" height="100" ng-repeat="img in ProductsSold[0].ProductImages" src="{{img}}" />
                                </dd>
                            </dl>

                        </div>

                       
                    </div>
                </div>
            </div>
            <div class="portlet">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fas fa-bell"></i>@Token.ProductSold  @Token.Table
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse" data-original-title="@Token.Collapse" title="@Token.Collapse"> </a>
                        <a class="reload" data-original-title="@Token.ReloadData" title="@Token.ReloadData" ng-click="CallFunctions()"> </a>
                        <a href="javascript:;" class="remove" data-original-title="@Token.Remove" title="@Token.Remove"> </a>
                    </div>
                </div>
                <!--Div Form Table-->
                <div class="portlet-body" style="display: block;">
                    <div class="table-scrollable">
                         
                        
                        <!--Form Add New And Show And Edit-->
                        <form name="frmProductSold" novalidate  ng-fop-data="ProductsSold"  ng-fop-data-repeat="ProductsSoldRepeat">
                            <table class="table table-striped table-bordered table-advance table-hover">
                                <thead>
                                    <tr>
                                        <th class="th-20">
                                            <ng-fop ng-fop-filter="true"
                                                    ng-fop-order-by="true"
                                                    ng-fop-requierd="false"
                                                    ng-fop-class-icon="fa fa-pencil"
                                                    ng-fop-label="@Token.User"
                                                    ng-fop-placeholder="@Token.Search..."
                                                    ng-fop-model="UserName"
                                                    ng-fop-type-filter="text"
                                                    ></ng-fop>
                                        </th>
                                        <th class="th-30">
                                            <ng-fop ng-fop-filter="true"
                                                    ng-fop-order-by="true"
                                                    ng-fop-requierd="false"
                                                    ng-fop-class-icon="fa fa-pencil"
                                                    ng-fop-label="@Token.SerialNumber"
                                                    ng-fop-placeholder="@Token.Search..."
                                                    ng-fop-model="Serial"
                                                    ng-fop-type-filter="text"
                                                     ></ng-fop>
                                        </th>
                                        <th class="th-20">
                                            <ng-fop ng-fop-filter="false"
                                                    ng-fop-order-by="false"
                                                    ng-fop-requierd="false"
                                                    ng-fop-class-icon="fa fa-pencil"
                                                    ng-fop-label="@Token.ImageProfile"
                                                    ng-fop-placeholder="@Token.Search..."
                                                    ng-fop-model="IsSuccess"
                                                    ng-fop-type-filter="bool"
                                                     ></ng-fop>
                                        </th>
                                        <th class="th-20">
                                            <ng-fop ng-fop-filter="false"
                                                    ng-fop-order-by="false"
                                                    ng-fop-requierd="false"
                                                    ng-fop-class-icon="fa fa-pencil"
                                                    ng-fop-label="@Token.Price"
                                                    ng-fop-placeholder="@Token.Search..."
                                                    ng-fop-model="Price"
                                                    ng-fop-type-filter="bool"></ng-fop>
                                        </th>
                                        <th class="th-20">
                                            <ng-fop ng-fop-filter="false"
                                                    ng-fop-order-by="false"
                                                    ng-fop-requierd="false"
                                                    ng-fop-class-icon="fa fa-pencil"
                                                    ng-fop-label="@Token.BuyDateTime"
                                                    ng-fop-placeholder="@Token.Search..."
                                                    ng-fop-model="BuyDateTime"
                                                    ng-fop-type-filter="bool"></ng-fop>
                                        </th>

                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr  ng-repeat="x in ProductsSoldRepeat" >
                                        <td class="highlight" >
                                            <label >{{x.UserName}}</label>
                                        </td>
                                        <td class="hidden-xs">
                                            <label>{{x.Serial}}</label>
                                        </td>
                                        <td class="hidden-xs" ng-class="{'label-success':x.Serial==UserSerial}">
                                            <center>
                                                <img class="img-circle" width="50" height="50" src="{{x.UserImageUrl.replace('~','')}}"/>
                                            </center>
                                        </td>
                                        <td class="hidden-xs">
                                            <label>{{x.Price}}</label>
                                        </td>
                                        
                                        <td class="hidden-xs">
                                            <label>{{x.BuyDateTime}}</label>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="6">
                                            <!--Paging-->
                                            <ng-paging-display-more  ng-paging-count-item="50"></ng-paging-display-more>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>

                        </form>
                    </div>
                </div>
            </div>
            <!-- END SAMPLE TABLE PORTLET-->
        </div>
    </div>
}
else
{
    <h1 class="lableErorr text-center">
        <i class="fas fa-exclamation-triangle" aria-hidden="true"></i>
        @Token.CanNotDisplay
    </h1>
}



        @section scripts{
         
              <script src="~/Scripts/Angular/Views/ProductsSold/Service.js"></script>
            <script src="~/Scripts/Angular/Views/ProductsSold/ControllerJs.js"></script> 
        }

