
@{
    ViewBag.Title = Token.PagesRoles;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var priv = PageService.GetPageRole(PageEnumVM.PagesRoles);
    ViewBag.Description = Token.ThisPageFor + Token.Display + " " + Token.AndChar + " " + Token.Create + " " + Token.AndChar + " " + Token.Update + " " + Token.AndChar + " " + Token.Delete + " " + Token.For + " " + Token.PagesRoles;
}

<!--body-->
@if (priv.IsDisplay)
{
    <div ng-app="ngApp" ng-controller="ctrlPagesRoles"  >
        <div class="">
            <!-- BEGIN SAMPLE TABLE PORTLET-->
            <div class="portlet">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fas fa-bell"></i>@Token.PagesRoles @Token.Table
                    </div>
                    <div class="tools">
                        <a href="javascript:;" class="collapse" data-original-title="@Token.Collapse" title="@Token.Collapse"> </a>
                        <a class="reload" data-original-title="@Token.ReloadData" title="@Token.ReloadData" ng-click="CallFunctions()"> </a>
                        <a href="javascript:;" class="remove" data-original-title="@Token.Remove" title="@Token.Remove"> </a>
                    </div>
                </div>

                <!--Div Form Table-->
                <div class="portlet-body" style="display: block;">
                    <div class="table-scrollable">
                        <!--Form Add New And Show And Update-->
                        <form name="frmPagesRoles" novalidate ng-fop-data="PagesRoles"  ng-fop-data-repeat="PagesRolesRepeat">
                          <div class="form-group">
                              <br />    
                              <label>@Token.Pages :-</label>
                              <select class="form-control" ng-model="PageId"  ng-options="x.Id as x.Name for x in Pages" ng-change="getPagesRoles()"> </select>
                          </div>
                              <table class="table table-striped table-bordered table-advance table-hover">
                                <thead>
                                    <tr>
                                        <th class="th-15">
                                            <ng-fop ng-fop-filter="true"
                                                    ng-fop-order-by="false"
                                                    ng-fop-class-icon="fa fa-pencil"
                                                    ng-fop-label="@Token.Display"
                                                    ng-fop-model="IsDisplay"
                                                    ng-fop-type-filter="bool"></ng-fop>
                                        </th>
                                        <th class="th-15">
                                            <ng-fop ng-fop-filter="true"
                                                    ng-fop-order-by="false"
                                                    ng-fop-class-icon="fa fa-pencil"
                                                    ng-fop-label="@Token.Create"
                                                     ng-fop-model="IsCreate"
                                                    ng-fop-type-filter="bool"
                                                 ></ng-fop>
                                        </th>
                                        <th class="th-15">
                                            <ng-fop ng-fop-filter="true"
                                                    ng-fop-order-by="false"
                                                    ng-fop-class-icon="fa fa-pencil"
                                                    ng-fop-label="@Token.Update"
                                                    ng-fop-model="IsUpdate"
                                                    ng-fop-type-filter="bool"></ng-fop>
                                        </th>
                                        <th class="th-15">
                                            <ng-fop ng-fop-filter="true"
                                                    ng-fop-order-by="false"
                                                    ng-fop-class-icon="fa fa-pencil"
                                                    ng-fop-label="@Token.Delete"
                                                    ng-fop-model="IsDelete"
                                                    ng-fop-type-filter="bool"></ng-fop>
                                        </th>
                                        <th class="th-15">
                                            <ng-fop ng-fop-filter="true"
                                                    ng-fop-order-by="false"
                                                    ng-fop-requierd="true"
                                                    ng-fop-class-icon="fa fa-pencil"
                                                    ng-fop-label="@Token.Roles"
                                                    ng-fop-model="RoleName"
                                                    ng-fop-type-filter="select"
                                                    ng-fop-options="x.Name as x.Name for x in Roles"></ng-fop>
                                        </th>
                                        <th class="th-15">
                                            <ng-fop ng-fop-filter="true"
                                                    ng-fop-order-by="false"
                                                    ng-fop-requierd="true"
                                                    ng-fop-class-icon="fa fa-pencil"
                                                    ng-fop-label="@Token.PagesRoleTypes"
                                                    ng-fop-model="PageRoleTypeName"
                                                    ng-fop-type-filter="select"
                                                    ng-fop-options="x.Name as x.Name for x in PagesRoleTypes"></ng-fop>
                                        </th>
                                 
                                        <th class="th-10"></th>
                                    </tr>
                                </thead>
                                <tbody>
                              
                                    <tr ng-repeat="x in PagesRolesRepeat track by $index" >
                                        <td class="hidden-xs">
                                            <!--IsDisplay-->
                                            <div class="form-group"  >
                                                <label class="mt-checkbox mt-checkbox-outline">
                                                    <input type="checkbox" class="form-control input-redonly" ng-model="x.IsDisplay" ng-disabled="!(ShowUpdate==$index)" />
                                                    <span></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td class="hidden-xs">
                                            <!--IsCreate-->
                                            <div class="form-group "  ng-show="x.FkPageRoleTypes_Id==PagesRoleType.Management">
                                                <label class="mt-checkbox mt-checkbox-outline">
                                                    <input type="checkbox" class="form-control input-redonly" ng-model="x.IsCreate" ng-disabled="!(ShowUpdate==$index)"/>
                                                    <span></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td class="hidden-xs">
                                            <!--IsUpdate-->
                                            <div class="form-group "  ng-show="x.FkPageRoleTypes_Id==PagesRoleType.Management">
                                                <label class="mt-checkbox mt-checkbox-outline">
                                                    <input type="checkbox" class="form-control input-redonly" ng-model="x.IsUpdate" ng-disabled="!(ShowUpdate==$index)" />
                                                    <span></span>
                                                </label>
                                            </div>
                                        </td> 
                                        <td class="hidden-xs">
                                            <!--IsDelete-->
                                            <div class="form-group "  ng-show="x.FkPageRoleTypes_Id==PagesRoleType.Management">
                                                <label class="mt-checkbox mt-checkbox-outline">
                                                    <input type="checkbox" class="form-control input-redonly" ng-model="x.IsDelete" ng-disabled="!(ShowUpdate==$index)" />
                                                    <span></span>
                                                </label>
                                            </div>
                                        </td> 
                                        
                                        <td>
                                            {{x.RoleName}}
                                        </td>
                                        <td>
                                            {{x.PageRoleTypeName}}
                                        </td>
                                        
                                         
                                        
                                       
                                     
                                        <td>
                                            @if (priv.IsUpdate)
                                            {
                                                <i class="fas fa-edit cursor-pointer icont-controller" title="@Token.Update" data-placement="top" data-toggle="tooltip" ng-show="ShowUpdate!=$index" ng-click="changeForUpdate($index)"></i>
                                                <i class="fas fa-save cursor-pointer icont-controller" title="@Token.Save" data-placement="top" data-toggle="tooltip" ng-show="ShowUpdate==$index" ng-click="update(x)"></i>
                                                <i class="fas fa-undo cursor-pointer icont-controller" title="@Token.Undo" data-placement="top" data-toggle="tooltip" ng-show="ShowUpdate==$index" ng-click="restartUpdate(true)"></i>
                                            }
                                       
                                                                         </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="6">
                                            <!--Paging-->
                                            <ng-paging ></ng-paging>
                                        </td>
                                        <td>
                                            <a class="btn btn-default green-stripe " ng-class="{'green':frmUserProfile.$valid}" ng-click="saveChange( )">
                                                @Token.SaveChange
                                                <i class="fas fa-save"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
            <!-- END SAMPLE TABLE PORTLET-->
        </div>
        @*<pre>{{PagesRoles|json}}</pre>*@
        @*<pre>{{AllPagesRoles|json:4}}</pre>
        <pre>
{{frmPagesRoles.$error|json:4}}
</pre>*@

         
    </div>
}
else
{
    <h1 class="lableErorr text-center">
        <i class="fas fa-exclamation-triangle" aria-hidden="true"></i>
        @Token.CanNotDisplay
    </h1>
}

@section scripts{
    <script src="~/Scripts/Angular/Views/PagesRoles/Service.js"></script>
    <script src="~/Scripts/Angular/Views/PagesRoles/Controller.js"></script>
}

